<%= form_for(@user) do |f| %>
    <%= f.text_field :username, autofocus: true, placeholder: "Enter a username" %>
    <%= f.submit 'Login', class: "btn btn-primary" %>
    <p>Don't have an account?<%= link_to 'Signup', new_user_path %></p>
<% end %>