<div class="who-to-follow-person d-flex mb-1">
  <%= image_tag user.photo, class: "rounded-circle mr-1" %>
  <div class="who-to-follow-text d-block">
    <%= link_to user.fullname, user_path(user.id), class: "who-to-follow-fullname" %><br>
    <span class="last-follower"><%= last_follower(user) %></span>
  </div>
</div>