/*
*= require font-awesome
*/

@import "bootstrap/scss/bootstrap";

$dark-blue: #1c2a3d;
$light-blue: #54ace3;
$text-dark: #6c8297;
$text-light: #fafcfc;
$text-gray: #b3b4b6;
$dark: #000;

body {
  font-family: "Poppins", sans-serif;
  color: $text-gray;
}

nav {
  background-color: $dark-blue;
  height: auto;
  min-height: 100vh;
}

h3 {
  font-size: 18px;
}

.photo-and-name {
  height: 100px;
}

.nav-counter {
  border-top: 1px solid $text-dark;
  border-bottom: 1px solid $text-dark;
  padding: 10px 0;
}

.photo-and-name a, .nav-counter {
  color: $text-light;
}

.nav-links a {
  color: $text-gray;
  padding: 20px 0;
  font-size: 20px;
}

img {
  width: 60px;
  height: 60px;
}

main {
  background-color: #dadde5;
}

header {
  height: 100px;
  background-color: $light-blue;
  margin: 0 -15px;
  padding: 0 30px;
  font-size: 25px;
}

.header-left {
  color: $text-light;
  font-size: 30px;
}

.header-right a {
  color: $text-dark;
  padding-left: 20px;
}

.sign-in, .sign-up {
  height: 100vh;
  padding-top: 20%;
}

.opinions-section {
  border-right: 3px solid $text-dark;
  height: auto;
  min-height: 80vh;
}

.opinions-nav {
  margin: 0 -15px 0 -30px;
  padding-left: 15px;
  height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 3px solid $text-dark;
}

.opinions-nav a {
  color: $text-gray;
  padding-right: 30px;
}

.opinions-nav a:first-of-type {
  color: $text-dark;
  font-weight: bold;
  padding-left: 20px;
}

.tweet-form, .tweet-feed {
  background-color: #f9f9f9;
  border: 1px solid $text-gray;
}

.tweet-feed h3 {
  border-bottom: 2px solid $text-gray;
}

.tweet-feed .main-content {
  min-height: 60px;
}

.tweet-feed .author {
  color: $dark;
  font-size: 16px;
}

.tweet-feed h4 {
  color: $dark;
  font-size: 16px;
  font-weight: normal;
}

.tweet-feed .content img {
  height: 30px;
  width: 30px;
}

.tweet-feed .content {
  flex-grow: 1;
}

.comment-author a, .comment-date, .comment-author {
  color: $dark;
}

.right-section {
  margin-right: -15px;
}

.who-to-follow h3, .followed-by-section h3 {
  height: 70px;
  text-align: center;
  padding-top: 24px;
  border-bottom: 3px solid $text-dark;
}

.who-to-follow img, .followed-by-section img {
  width: 40px;
  height: 40px;
}

.who-to-follow-fullname, .followed-by-fullname {
  font-size: 13px;
  color: $text-dark;
}

.right-section, .who-to-follow span {
  font-size: 12px;
}

.trending h3 {
  font-size: 18px;
  text-align: center;
  height: 60px;
  padding-top: 16px;
  border-top: 3px solid $text-dark;
  border-bottom: 3px solid $text-dark;
}

.follow-btn, .unfollow-btn, .profile-photo i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
  font-size: 20px;
  border-radius: 50%;
  border: 1.5px solid $text-gray;
  color: $text-gray;
}

.follow-btn:hover, .unfollow-btn:hover, .profile-photo i:hover {
  border-color: $light-blue;
  color: $light-blue;
  text-decoration: none;
}

.profile-photo img{
  width: 80px;
  height: 80px;
}

.profile-photo .unfollow-btn, .profile-photo .follow-btn, .profile-photo i {
  width: 30px;
  height: 30px;
  border: 1.5px solid $text-gray;
  border-radius: 50%;
}

.profile-desc-counts p:first-of-type, .profile-desc-counts p:nth-of-type(2)  {
  border-right: 2px solid $dark;
  margin: 1px;
}

.profile-photo i {
  font-size: 15px;
}

.profile-desc-counts {
  border-top: 2px solid $text-dark;
  border-bottom: 2px solid $text-dark;
}

.profile-desc-count-center {
  border-left: 2px solid $text-dark;
  border-right: 2px solid $text-dark;
}

.profile-fullname, .profile-desc-counter {
  color: $dark;
  font-size: 18px;
}

.profile-username {
  font-size: 16px;
}

form.new_comment {
  width: auto;
}